h1{
    text-align: center;
    background-color: #2e8b57;
    color: #ffc907;
}
h2{
    text-align: center;
    background-color: #2e8b57;
    color: #ffc907;
}
body{
    background-color: #06402b;
    color: #ffc907;
}
img{
    
    width:450px; height:350px
    border-style: solid;
    display:block;
    
}
a{
    background-color: #ffc907;
    color: #2e8b57;
}
