h1{
    text-align: center;
    background-color: #2e8b57;
    color: #c850a0;
}
h2{
    background-color: #2e8b57;
    color: #c850a0;
    text-align: center;
}
body{
    line-space: 3;
    background-color: #006400;
    color: #c850a0;
}
img{
    
    width:450px; height:350px
    border-style: solid;
    display:block;
    
}
a{
    background-color: #c850a0;;
    color: #06402b;
}
